.app-container {
  text-align: center;
}

.new-question {
  display: block;
  text-align: center;
  margin: auto;
  padding: 10px;
  background-color: black;
  color: white;
}

.question-container {
  display: block;
  margin: 10px;
}

.question-container > input {
  padding: 10px;
  width: 50%;
}

.question-container > select {
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
}

.answer-container {
  margin: 10px;
}

.answer-container > textarea {
  width: 60%;
  padding: 10px;
}

.answer-textbox {
  width: 50%;
  padding: 10px;
  margin: 10px;
}

.submit-button {
  display: block;
  text-align: center;
  margin: auto;
  margin-top: 10px;
  padding: 10px;
  background-color: black;
  color: white;
  text-decoration: none;
}

.card-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  row-gap: 10px;
  column-gap: 10px;
  justify-content: center;
  align-content: center;
  align-items: center;
  text-align: center;
}

.card-container > .card {
  border: 1px solid black;
  padding: 10px;
  margin: 10px;
  height: 200px;
  width: 200px;
  justify-content: center;
  align-content: center;
  align-items: center;
  text-align: center;
}

.card {
  justify-content: center;
  align-content: center;
  align-items: center;
}

.width {
  width: 50%;
}

.input-class {
  padding: 10px;
  margin: 10px;
}
